[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mosspy = "*"
mossum = {git = "https://github.com/hjalti/mossum"}

[requires]
python_version = "3.6"

[script]
zip = "zip moss.zip config.py moss.py organize_submissions.py Pipfile Pipfile.lock README.md"
